@import "../../styles/wrapper.css";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  color: #FFF;
  background: #111;
  margin-bottom: 30px;
  overflow: hidden;
}

.headerConteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
}

.themes {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.themes li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 16px;
  font-weight: 700;
}

.bascet {
  width: 24px;
  height: 24px;
}

.authButtons {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.authButtons button {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  border-radius: 40px;
  border: none;
  padding: 5px 10px;
  text-wrap: nowrap;
}

.authButtonLogin {
  background: #333;
}

.authButtonUserAdd {
  background: #EF4934;
}

.group {
  display: flex;
  align-items: center;
  gap: 14px;
}

.menu {
  display: block;
}


@media (min-width: 768px) {

  .header {
    margin-bottom: 60px;
    height: 80px;
  }

  .logo {
    width: 46px;
  }

  .themes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
  }

  .nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 16px;
    font-weight: 700;
  }

  .authButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .group {
    gap: 50px;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 1280px) {

  .nav {
    justify-content: end;
    margin-right: 124px;
  }
}
